* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  margin: 100px auto;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background: rgb(253, 232, 232);
}
.labelPss {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}
.content {
  border: 1px solid black;
  border-radius: 5px;
  background: #fdf7f7;
}
#inputBox {
  width: 91%;

  font-size: 1.3rem;
  padding: 3px 5px;
  outline: none;
  border: none;
  /* border-radius: 5px; */
  background: transparent;
}
.content i {
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 2px;
}
button {
  font-size: 1.2rem;
  padding: 8px;
  margin: 11px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background: #000;
  cursor: pointer;
}
button i {
  margin-right: 5px;
}
.check {
  display: flex;
  width: 83%;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.3rem;
}
