* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}
body {
  background: #f5d7d7;
}

.container {
  /* border: 1px solid black; */
  width: 40%;
  margin: 20px auto;
  box-shadow: 0px 0px 25px gray;
  background-color: white;
  border-radius: 3px;
  padding: 35px 20px;
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.passBox {
  width: 15%;
  /* padding: 5px 10px; */
  font-size: 1.5rem;
  outline: none;
}

/* #inputSlider{
    width: 90%;
} */

.genBtn {
  padding: 10px;
  background-color: blue;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.genBtn:hover {
  background-color: rgb(77, 77, 250);
}

#displayValue{
    text-align: center;
    font-size: 1.3rem;
   
    background: #f5dada;
    padding: 10px 0px;
    border: none;
    display: none;
    margin: 13px auto
}