* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: rgb(151, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.container {
  /* border: 1px solid black; */
  width: 35%;
  /* margin: 50px auto; */
  border-radius: 5px;
  box-shadow: 0px 0px 15px pink;
  padding: 25px 15px;
  /* font-weight: 800; */
  background: rgb(212, 196, 196);
}
.container h2 {
  text-align: center;
  color: rgb(238, 44, 44);
  margin-bottom: 20px;
}
.container .itemA {
  margin: 10px 0px;
}
.container label input {
  display: block;
  width: 100%;
  padding: 7px;
  border: 1.5px solid pink;
  border-radius: 5px;
  outline: none;
}
.container .btn {
  color: white;
  background-color: blue;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  margin: 15px 0px;
}
.storeCont {
  /* border: 1px solid black; */
}
.storeCont ul {
    list-style: none;
}
.storeCont #store .itemName {
  /* border: 1px solid blue; */
  margin-bottom: 5px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  /* display: flex; */
  background-color: rgb(253, 237, 240);
  /* display: none; */
}
.container .totalPrice {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
